</div><!--/footer -->
{% setcontent config = 'config/geral' %}
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4 bottom-1 vermelho">
                {{config.corpo_coluna_1}}
            </div>
            <div class="col-md-4 bottom-1">
                {{config.corpo_coluna_2}}
            </div>
            <div class="col-md-4 bottom-1">
                {{config.corpo_coluna_3}}
            </div>
        </div>
    </div>
</footer>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="{{paths.theme}}assets/js/bootstrap/bootstrap.min.js"></script>
<script src="{{paths.theme}}assets/js/slick/slick.js"></script>
<script src="{{paths.theme}}assets/js/main.js"></script>
</body>
</html>