{% include 'partials/_header.twig' %}
<div class="container edicao">
    <div class="row" style="margin-bottom:40px;">
        <div class="col-xs-6">
            <h1>{{record.titulo|upper}}</h1>
            <h4>{{record.subtitulo|upper}}</h4>
            <div class="edicao-desc">
                {{record.corpo}}
            </div>
        </div>
        <div class="col-xs-6">
            <div class="topo-edicao-img" style="background-image: url({{image(record.imagem)}});"></div>
        </div>
    </div>
    <div class="row artigos-posts-relacionados">
        <div class="col-xs-12">
            <h3>notíticas desta edição</h3>
        </div>
        <div class="col-xs-12">
            <div class="topo-edicao-divider"></div>
        </div>

        <div class="col-xs-12">
            {% set artigos = record.related() %}
            {% if artigos is not empty %}
                {% for item in artigos %}
                    <div class="row item-list-artigo">
                        <div class="col-xs-12">
                            <h2>
                                <a href="{{item.link}}">
                                    {{item.titulo}}
                                </a>
                            </h2>
                            <div class="meta-artigo">
                                <span class="meta-edicao">{{item.related("edicoes").0.titulo|upper}}</span> - <span class="meta-data">{{ item.datepublish|localdate() }}</span>
                            </div>
                        </div>
                        {% if item.imagem is empty %}
                        <div class="col-xs-12 artigo-desc">
                            {{item.corpo|excerpt(340)}}
                        </div>
                        {% else %}
                        <div class="col-xs-6 artigo-desc">
                            {{item.corpo|excerpt(340)}}
                        </div>
                        <div class="col-xs-6">
                            <img src="{{image(item.imagem)}}" class="img-responsive" />
                        </div>
                        {% endif %}
                    </div>
                {% endfor %}
            {% else %}
                <h4>Nenhuma notícia para esta edição ainda</h4>
            {% endif %}
        </div>
    </div>
</div>
{% include 'partials/_footer.twig' %}